<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<meta charset=utf-8 />
</head>
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/static/test.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<body>

	<p id="something" style="text-align: center;"><strong>Uploaded Image:</strong><br></p>
	<img id="blah2" src={{name}} style="margin-right: 200px;"/><br>
	<p id="something" style="text-align: center;"><strong>Transcribed Image:</strong><br></p>
	<img id="blah1" src="static/transcribed.png" style="margin-right: 200px;"/><br>
</body>
</html>